<div class="text-center homepage-header mb-3 p-4 bg-dark">
	<div class="text-white">
		<div class="lead">
			Welcome back
		</div>
		
		<div class="small font-weight-light">
			Login to manage your offers and provide feedback.
		</div>
	</div>
</div>

<div class="container mt-4 mb-4 clearfix center-box-max-width border p-4 rounded">
	<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

	<%= form_for :user, url: login_path do |f| %>
		<div class="form-group">
    	<%= f.label :email %>
    	<%= f.email_field :email, class: "form-control", placeholder: "bob@apple.com" %>
    </div>

    <div class="form-group">
    	<%= f.label :password %>
    	<%= f.password_field :password, class: "form-control", placeholder: "••••••" %>
    	 <small>
	  		<a href="/login">Forgot password</a>
	  	</small>
    </div>

    <%= f.submit "Login", class: "btn btn-block btn-danger" %>

  <% end %>

  <div class="mt-2 text-center">
  	<div>
  		New? <a href="/signup">Signup here</a>
  	</div>
  </div>
</div>