<div class="text-center homepage-header p-4 bg-dark">
  <div class="text-white">
    <div class="lead">
      Unleash feedback
    </div>

    <div class="small font-weight-light">
      Creating an account will allow you to post offers and provide feedback.
    </div>
  </div>
</div>

<div class="bg-light p-4">
  <div class="container bg-white center-box-max-width card-shadow p-4 rounded">
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(@user, url: signup_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, value: "Work email" %>
        <%= f.email_field :email, class: "form-control", placeholder: "bob@apple.com", required: "true" %>
        <small class="form-text text-muted">Using your work email will unlock offers from your company.</small>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", required: "true",  pattern: ".{6,}" %>
      </div>
      <%= invisible_recaptcha_tags text: "Create my account", class: "btn btn-block btn-danger" %>
    <% end %>
    <div class="mt-2 text-center">
      <div>
        <a href="/login">I already have an account</a>
      </div>
    </div>
  </div>
</div>
