<p class="alert alert-warning">
  This request can only be unlocked by <b>verified <%= @referral.company.display_name %> employees</b>.
</p>
<p>
  If you work at <b><%= @referral.company.display_name %></b> and wish to refer this candidate, simply
  <% if current_user %>
    <%= link_to logout_path, method: :delete, data: { confirm: "Are you sure you want to log out?" }, class: "text-danger" do %>
      signup with your <%= @referral.company.display_name %> email.
    <% end %>
  <% else %>
    <a href="/login" class="text-danger">login with your <%= @referral.company.display_name %> email</a>.
  <% end %>
</p>

<div class="alert alert-info mb-0">
  <div class="mb-3">
    Share this referral with someone who works at <b><%= @referral.company.display_name %></b>:
  </div>
  <div class="input-group mb-3">
    <input id="referralUrl" type="text" value="<%= referral_url(@referral.uuid) %>" class="form-control">
    <div class="input-group-append">
      <button type="button" class="btn btn-info" onclick="copyToClipboard()">Copy</button>
    </div>
  </div>
  <div class="mb-3 sharethis-inline-share-buttons"></div>
</div>
