<p class="lead text-center">Referral unlocked!</p>

<div class="alert alert-info">
  <p class="font-weight-bold">
    Please review this candidate's profile carefully
  </p>
  <dl class="row">
    <dt class="col-sm-3">Linkedin</dt>
    <dd class="col-sm-9">
      <a href="<%= @referral.linkedin_profile_url %>" title="Candidate's Linkedin profile url" target="_blank"><%= @referral.linkedin_profile_url %></a>
    </dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">
      <a href="mailto:<%= @referral.email %>?subject=Referral from Reffo"><%= @referral.email %></a>
    </dd>

    <dt class="col-sm-3">Position</dt>
    <dd class="col-sm-9">
      <a href="<%= @referral.job_posting_url %>" title="Job posting url" target="_blank"><%= @referral.position %> - <%= @referral.location %></a></b>
    </dd>
    <dt class="col-sm-3">Experience</dt>
    <dd class="col-sm-9">
      <%= @referral.yoe %> YOE
    </dd>
  </dl>
  <p>
    If you need more information about the candidate or the position, <a href="mailto:<%= @referral.email %>?subject=Referral from Reffo">shoot an email</a>.
  </p>
</div>

<p>
  <b>Is it a good fit?</b>
  <br>
  Go ahead and use the information above to add the referral to your company's Applicant Tracking System (ATS).
</p>

<p>
 <b>Not a good fit?</b>
 <br>
 <%= link_to "Click here to release this referral.", referral_path(@referral.uuid, referral: { referrer_id: nil }), method: :put, data: { confirm: "Are you sure you want to release this candidate?" }, class: "text-danger" %>
</p>
