<div class="text-center homepage-header p-4 bg-dark">
  <div class="mb-4 lead">
    <span class="bg-white p-2 font-weight-bold">Need feedback on a job <span class="text-danger">offer</span>?</span>
  </div>
  <div>
    <a class="btn btn-lg btn-danger" href="<%= new_offer_path %>">Evaluate an offer</a>
  </div>
</div>

<div class="bg-light text-center border-bottom p-4">
  <div class="container p-0">
    <div class="mb-4 lead font-weight-light">
      <span class="font-weight-bold text-danger">reffo</span> is a community that empowers candidates by providing offer feedback and education. <br/>We do this by sourcing <span class="font-weight-bold text-danger">offer</span> data from real live, current offers and making that data transparent.
    </div>

    <div class="row">
      <div class="col-md-6 p-2">
        <div class="bg-white p-3 height-100">
          <h6 class="mb-3">
            <span class="fa fa-money-bill text-success mr-1"></span> Compensation evaluation
          </h6>
          <p class="text-muted font-weight-light">
            You need to be compensated fairly and we'll help you make sure of it by reviewing carefully every parts of your compensation breakdown and letting you know where you get low-balled.
          </p>
          <a href="/offers/new" title="" class="btn btn-outline-success btn-sm">Evaluate my offer</a>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <div class="bg-white p-3 height-100">
          <h6 class="mb-3">
            <span class="fa fa-chart-line text-danger mr-1"></span> Equity compensation guide <span class="ml-2 badge badge-danger text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            Equity is complicated. We'll help you ask the right questions so that you fully understand the value of your equity and the costs you might incur to own it.
          </p>
          <a href="/equity" title="" class="btn btn-outline-danger btn-sm">Learn more about equity</a>
        </div>
      </div>
    </div>

    <div class="row row-eq-height">
      <div class="col-md-6 p-2">
        <div class="bg-white p-3 height-100">
          <h6 class="mb-3">
            <span class="fa fa-handshake text-info mr-1"></span> Negotiation tips <span class="ml-2 badge badge-info text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            The first offer a company makes is sometimes below your current market value. We think there is always room to negotiate and we'll help you through it.
          </p>
          <a href="/negotiate" title="" class="btn btn-outline-info btn-sm">How to negotiate</a>
        </div>
      </div>

      <div class="col-md-6 p-2">
        <div class="bg-white p-3 height-100">
          <h6 class="mb-3">
            <span class="fa fa-users text-warning mr-1"></span> Referrals <span class="ml-2 badge badge-warning text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            Is your dream company ignoring your application? We think everybody deserves a chance to get an interview and we'll be happy to refer you whenever possible.
          </p>
          <a href="/referrals" title="" class="btn btn-outline-warning btn-sm">Get a referral</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center p-3 border-bottom">
  <div class="container p-0">
    <div class="mb-3 text-center">Access recent offers from these companies</div>

    <div class="row">
      <% Company.all.sample(6).each do |company| %>
        <div class="col-4 col-xl-2 p-3">
          <a href="<%= company_path company.uuid %>"><img width="60px" class=" rounded" src="//logo.clearbit.com/<%= company.domain %>" alt="<%= company.name %>"></a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">
    <div class="mb-3 text-center">Create offers, receive & give feedback</div>

    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-4 col-md-6 col-12 p-2">
          <div class="border rounded list-group-item-action">
            <a href="<%= offer_path offer.uuid %>" class="list-group-item-action">
              <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center homepage-header p-4">
  <div>
    <div class="mb-3 lead">
      Are you ready to unleash feedback?
    </div>
    <div>
      <a class="btn btn-danger" href="<%= new_offer_path %>">Get started</a>
    </div>
  </div>
</div>
