<div class="bg-white text-center border-bottom border-2 p-4">
  <div class="container p-0">
    <div class=" font-weight-light">
      <p class="h3">
        Understand your job offers
      </p>
      <div class="lead mb-3">
        We will help you evaluate your future compensation and equity.
      </div>
      <a href="/offers/new" title="" class="btn btn-lg btn-success">Get started</a>

    </div>
  </div>
</div>

<div class="mb-3 p-3 text-center producthunt">
  <a href="https://www.producthunt.com/posts/reffo?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-reffo" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=150711&theme=light" alt="Reffo - Receive feedback on job offers | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-2">
    <div class="h4 text-center">Recent offers submitted</div>

    <div class="row">
      <% @pending_offers.each do |offer| %>
        <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
      <% end %>
    </div>

    <div class="mt-3 text-center">
      <a href="<%= offers_path %>" class="btn btn-success">Explore <%= Offer.count  %> offers</a>
    </div>
  </div>
</div>

<div class="p-3 border-bottom">
  <div class="container p-0">
    <div class="mb-2 text-center">Explore more offers from these companies</div>

    <div class="row">
      <% @companies.each do |company| %>
        <div class="col-4 col-xl-2 p-3 d-flex justify-content-center">
          <div class="d-flex justify-content-center mb-0">
            <a href="<%= company_path company.uuid %>">
              <div class="image-thumbnail-outer-lg d-flex">
                <img class="align-self-center image-thumbnail-lg p-3 p-md-2" src="<%= company.logo_url %>" alt="<%= company.display_name %> logo" title="<%= company.name %>">
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
