<div class="text-center homepage-header p-4 bg-dark">
  <div class="mb-4 lead">
    <span class="bg-white p-2 font-weight-bold">Need feedback on a job <span class="text-danger">offer</span>?</span>
  </div>
  <div>
    <a class="btn btn-danger" href="<%= new_offer_path %>">Evaluate my job offer now</a>
  </div>
</div>

<div class="bg-light text-center p-4">
  <div class="container p-0">
    <div class="lead font-weight-light">
      <span class="font-weight-bold text-danger">reffo</span> is a community that empowers candidates by providing offer feedback and education. <br/>We do this by sourcing and exposing recent <span class="font-weight-bold text-danger">offer</span> data to our community.
    </div>
  </div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-2">
    <div class="mb-2 text-center">Give feedback on these offers:</div>

    <div class="row">
      <% @pending_offers.each do |offer| %>
        <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
      <% end %>
    </div>

    <div class="mt-3 text-center">
      <a href="<%= offers_path %>" class="btn btn-sm btn-outline-secondary">Explore more offers</a>
    </div>
  </div>
</div>

<div class="text-center p-3 border-bottom">
  <div class="container p-0">
    <div class="mb-3 text-center">Explore recent offers from these companies</div>

    <div class="row">
      <% @companies.each do |company| %>
        <div class="col-4 col-xl-2 p-3">
          <a href="<%= company_path company.uuid %>"><img width="65px" class="rounded" src="<%= company.logo_url %>" alt="<%= company.display_name %> logo" title="<%= company.name %>"></a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-light text-center border-bottom p-4">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-6 p-2 p-lg-3">
        <div class="card-shadow rounded bg-white p-4 height-100">
          <h6 class="mb-3">
            <span class="fa fa-money-bill text-success mr-1"></span> Compensation evaluation
          </h6>
          <p class="text-muted font-weight-light">
            You need to be compensated fairly and we'll help you make sure of it by reviewing carefully every parts of your compensation breakdown and letting you know where you get low-balled.
          </p>
          <a href="/offers/new" title="" class="btn btn-outline-success btn-sm">Evaluate my offer</a>
        </div>
      </div>
      <div class="col-md-6 p-2 p-lg-3">
        <div class="card-shadow rounded bg-white p-4 height-100">
          <h6 class="mb-3">
            <span class="fa fa-chart-line text-danger mr-1"></span> Equity compensation guide <span class="ml-2 badge badge-danger text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            Equity is complicated. We'll help you ask the right questions so that you fully understand the value of your equity and the costs you might incur to own it.
          </p>
          <a href="/equity" title="" class="btn btn-outline-danger btn-sm">Learn more about equity</a>
        </div>
      </div>
    </div>

    <div class="row row-eq-height">
      <div class="col-md-6 p-2 p-lg-3">
        <div class="card-shadow rounded bg-white p-4 height-100">
          <h6 class="mb-3">
            <span class="fa fa-handshake text-info mr-1"></span> Negotiation tips <span class="ml-2 badge badge-info text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            The first offer a company makes is sometimes below your current market value. We think there is always room to negotiate and we'll help you through it.
          </p>
          <a href="/negotiate" title="" class="btn btn-outline-info btn-sm">How to negotiate</a>
        </div>
      </div>

      <div class="col-md-6 p-2 p-lg-3">
        <div class="card-shadow rounded bg-white p-4 height-100">
          <h6 class="mb-3">
            <span class="fa fa-users text-warning mr-1"></span> Referrals <span class="ml-2 badge badge-warning text-white">coming soon</span>
          </h6>
          <p class="text-muted font-weight-light">
            Is your dream company ignoring your application? We think everybody deserves a chance to get an interview and we'll be happy to refer you whenever possible.
          </p>
          <a href="/referrals" title="" class="btn btn-outline-warning btn-sm">Get a referral</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center homepage-header p-4 border-bottom">
  <div>
    <div class="mb-3 lead">
      Are you ready to unleash feedback?
    </div>
    <div>
      <a class="btn btn-lg btn-danger" href="<%= new_offer_path %>">Get started</a>
    </div>
  </div>
</div>
