<div class="text-center company-header p-4 bg-dark text-white">
  <h3 class="font-weight-light"><%= @company.display_name %></h3>

  <div class="mb-2">
    <img width="80px" class="rounded" src="<%= @company.logo_url %>">
  </div>

  <div>
    <a href="//<%= @company.domain %>" target="_blank" class="text-white"><%= @company.domain %></a>
  </div>

  <% if @company.public? %>
    <div class="small">
      <a href="<%= @company.yahoo_finance_url %>" class="text-white" target="_blank"><%= @company.symbol.upcase %> $<%= @company.quote %></a>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <a class="btn btn-danger" href="<%= new_offer_path company_name: @company.display_name %>">Evaluate <%= @company.display_name %> offer</a>
  </div>
</div>

<div class="bg-light p-3 border-bottom">
  <div class="container p-0">
    <% if @offers.any? %>

      <div class="center-box-max-width mb-3">
        <div class="bg-white p-3 border rounded">
          <div class="text-center font-weight-bold">Filters</div>

          <div class="form-inline">
            <%= label_tag :status, "Status:", class: "mr-3" %>
            <%= select_tag(:status, options_for_select(["All", *Offer.statuses.keys.map(&:humanize)], params[:status] || "All"), class: "form-control") %>

          </div>
        </div>
      </div>

      <div class="row">
        <% @offers.each do |offer| %>
          <%= render partial: "offers/offer_list_item", locals: { offer: offer } %>
        <% end %>
      </div>
    <% else %>
      <div class="bg-white p-3 text-center">
        <div class="lead mb-3">
          No offers that matches your search.
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("#status").on('change', function() {
      window.location = `/companies/<%= @company.uuid %>?status=${$(this).val()}`
    });
  });
</script>
