<%= form_tag(search_path, method: "get", class: "form-inline d-block m-auto text-center") do %>
  <%= label_tag :company, "Company", class: "sr-only" %>
  <%= text_field_tag :company, params[:company]&.humanize, placeholder: "Google", class: "form-control mb-2 mr-2" %>

  <%= label_tag :location, "Location", class: "sr-only" %>
  <%= text_field_tag :location, params[:location], placeholder: "San Francisco", class: "form-control mb-2 mr-2" %>

  <%= label_tag :position, "Position", class: "sr-only" %>
  <%= text_field_tag :position, params[:position], placeholder: "Software Engineer", class: "form-control mb-2 mr-2" %>

  <div></div>

  <%= label_tag :yoe, "Year of experience", class: "sr-only" %>
  <%= number_field_tag :yoe, params[:yoe], placeholder: "YOE e.g: 3", class: "form-control mb-2 mr-2" %>

  <%= label_tag :level, "Level", class: "sr-only" %>
  <%= text_field_tag :level, params[:level], placeholder: "Level e.g: L4", class: "form-control mb-2 mr-2" %>

  <%= label_tag :status, "Status", class: "sr-only" %>
  <%= select_tag(:status, options_for_select(["All", *Offer.statuses.keys.map(&:humanize)], params[:status] || "All"), class: "form-control mb-2 mr-2") %>

  <%= submit_tag "Filter", class: "pull-right btn btn-secondary mb-2" %>
<% end %>

<script type="text/javascript">
  $(function() {
    OfferKarma.setCompanyNameAutocomplete('#company')
  })
</script>
