<div>
	<div class="p-3 d-flex flex-row">
		<div class="mr-3">
			<div class="small text-center mb-1">
				<b><%= offer.company.name %></b>
			</div>

			<div>
				<img width="50px" class="img-thumbnail rounded" src="//logo.clearbit.com/<%= offer.company.url %>">
			</div>
		</div>

		<div>
			<div class="mb-3">
				<b><%= offer.position %></b> - <b><%= offer.yoe ? offer.yoe.to_i : "?" %></b> YOE
			</div>

			<div>
				<span class="text-white bg-success rounded p-2">
					<span class="fa fa-money-bill"></span> <b><%= number_to_human offer.tc %> / year</b>
				</span>
			</div>
		</div>
	</div>

	<div class="border-top text-center text-muted small p-2 ps-1">
		<span>
			<%= offer.status %>
		</span>
		<span class="mr-3">
			<span class="far fa-eye"></span> <span class="small"><%= offer.views %></span>
		</span>
				
		<span class="mr-3">
			<span class="far fa-thumbs-up"></span> <span class="small"><%= offer.votes.up.count %></span>
		</span>

		<span class="mr-3">
			<span class="far fa-thumbs-down"></span> <span class="error small"><%= offer.votes.down.count %></span>
		</span>

		<span>
			<span class="fa fa-comments text-muted"></span> <%= offer.comments.count %>
		</span>
	</div>	
</div>