<div>
	<div class="p-3 d-flex">
		<div class="mr-4 align-self-center">
			<div>
				<img width="50px" class="img-thumbnail rounded" src="//logo.clearbit.com/<%= offer.company.url %>">
			</div>
		</div>

		<div class="align-self-center">
			<div class="mb-1">
				<b><%= offer.position %></b> <small><%= offer.level %> <%= offer.yoe ? "#{offer.yoe.to_i} YOE" : "" %></small>
			</div>

			<div class="text-white bg-success rounded p-1 pl-2 pr-2">
				<b>TC $<%= number_to_human offer.tc %> / year</b>
			</div>
		</div>
	</div>

	<div class="border-top text-muted small p-2 pr-3 pl-3">

		<div class="small d-flex justify-content-between">
			<div class="font-weight-bold align-self-center text-uppercase text-<%= offer.status_class %>">
				<%= offer.status %>
			</div>

			<div>
				<span class="mr-3">
					<span class="far fa-eye"></span> <%= offer.views %>
				</span>
						
				<span class="mr-3">
					<span class="far fa-thumbs-up"></span> <%= offer.votes.up.count %>
				</span>

				<span class="mr-3">
					<span class="far fa-thumbs-down"></span> <%= offer.votes.down.count %>
				</span>

				<span>
					<span class="fa fa-comments text-muted"></span> <%= offer.comments.count %>
				</span>
			</div>

			<div>
				<span title="<%= offer.created_at.strftime('%m/%d/%Y - %r') %>"><%= time_ago_in_words offer.created_at %> ago</span>
			</div>
		</div>
		
	</div>	
</div>