<div class="col-lg-4 col-md-6 col-12 p-2 d-flex">
  <a href="<%= offer_path offer.uuid %>" class="list-group-item list-group-item-action p-0 rounded card-shadow border-0 bg-white">
    <div class="d-flex flex-column justify-content-between height-100">

      <div class="mb-auto rounded-top border-bottom text-muted p-1 pr-3 pl-3 bg-light">
        <div class="text-right">
          <small class="small">KARMA</small> <span class="font-weight-bold badge badge-<%= offer.karma_class %>"><%= offer.karma || "?" %></span>
        </div>
      </div>

      <div class="p-3 d-flex align-items-center">
        <div class="mr-3">
          <div class="img-thumbnail image-thumbnail-outer p-0 border-0 d-flex justify-content-center mb-0">
            <img class="align-self-center image-thumbnail border-0" src="<%= offer.company.logo_url %>" alt="<%= offer.company.display_name %> logo">
          </div>
        </div>

        <div class="text-truncate">
          <div >
            <div class="small font-weight-light text-truncate">
              <%= offer.company.display_name %>
            </div>
            <div class="font-weight-bold text-truncate" title="<%= offer.position %>">
              <%= offer.position %>
            </div>
            <div class="small font-weight-light">
              <span class="text-muted">
                <%= offer.location %>
              </span> - <%= offer.level %> <%= offer.yoe ? "(#{offer.yoe.to_i} YOE)" : "" %>
            </div>
          </div>

          <div class="text-truncate">
            <span class="font-weight-bold text-success mr-2" title="Total Compensation">
              $<%= number_to_human offer.total_compensation %> / year
            </span>
            <span class="text-success small">$<%= number_to_human offer.base_salary.to_i %> base</span>
          </div>
        </div>
      </div>

      <div class="mt-auto rounded-bottom border-top text-muted small p-2 pr-3 pl-3 bg-light">
        <div class="small d-flex justify-content-between ">
          <div class="font-weight-bold align-self-center text-uppercase text-<%= offer.status_class %>">
            offer <%= offer.status %>
          </div>

          <div class="flex-fill text-right">
            <span class="mr-3">
              <span class="far fa-thumbs-up"></span> <%= offer.upvotes.length %>
            </span>

            <span class="mr-3">
              <span class="far fa-thumbs-down"></span> <%= offer.downvotes.length %>
            </span>

            <span>
              <span class="fa fa-comments text-muted"></span> <%= offer.comments.length %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
