<div class="col-lg-4 col-md-6 col-12 p-2 d-flex">
  <a href="<%= offer_path offer.uuid %>" class="list-group-item list-group-item-action p-0 rounded card-shadow border-0 bg-white">
    <div class="d-flex flex-column justify-content-between height-100">
      <div class="p-3 d-flex align-items-center">
        <div class="mr-4">
          <div>
            <img width="60px" class="rounded border-0" src="<%= offer.company.logo_url %>">
          </div>
        </div>

        <div class="flex-grow">
          <div class="mb-2">
            <div class="text-truncate" style="max-width: 200px;" title="<%= offer.position %>">
              <b><%= offer.position %></b>
            </div>
            <div class="small">
              <%= offer.level %> <%= offer.yoe ? "(#{offer.yoe.to_i} YOE)" : "" %>
            </div>
          </div>

          <div>
            <span class="font-weight-bold text-success" title="Total Compensation">
              $<%= number_to_human offer.tc %> / year
            </span>
          </div>
        </div>
      </div>

      <div class="mt-auto rounded-bottom border-top text-muted small p-2 pr-3 pl-3 bg-light">
        <div class="small d-flex justify-content-between ">
          <div class="font-weight-bold align-self-center text-uppercase text-<%= offer.status_class %>">
            <%= offer.status %>
          </div>

          <div>
            <span class="mr-3">
              <span class="far fa-eye"></span> <%= offer.views %>
            </span>

            <span class="mr-3">
              <span class="far fa-thumbs-up"></span> <%= offer.upvotes.size %>
            </span>

            <span class="mr-3">
              <span class="far fa-thumbs-down"></span> <%= offer.downvotes.size %>
            </span>

            <span>
              <span class="fa fa-comments text-muted"></span> <%= offer.comments.length %>
            </span>
          </div>

          <div>
            <span title="<%= offer.created_at.strftime('%m/%d/%Y - %r') %>"><%= time_ago_in_words offer.created_at %> ago</span>
          </div>
        </div>

      </div>
    </div>
  </a>
</div>
