<div class="text-center homepage-header p-4 bg-dark">
	<div class="text-white">
		<div class="mb-3 lead">
			Need feedback on a job offer?
		</div>
		<div>
			<a class="btn btn-danger" href="/offers/new">Submit an offer</a>
		</div>
	</div>
</div>

<div class="bg-light text-center border-bottom p-3 mb-3">
	<div class="container">
		<div class="mb-3 lead font-weight-light">
			<span class="font-weight-bold text-danger">reffo</span> is an anonymous community that empower employees by providing <span class="font-weight-bold text-danger">offer</span> feedback and education.
		</div>

		<div class="row mb-3">
			<div class="col-md-4 p-4">
				<h6><span class="fa fa-money-bill"></span> Compensation evaluation</h6>
				<p class="text-muted">We will let you know if you got low-balled or if your offer is fair.</p>
			</div>
			<div class="col-md-4 p-4">
				<h6><span class="fa fa-chart-line"></span> Stocks education</h6>
				<p class="text-muted">We will tell you everything you should ask about stocks before signing.</p>
			</div>
			<div class="col-md-4 p-4">
				<h6><span class="fa fa-handshake"></span> Negotiation tips</h6>
				<p class="text-muted">We will give you tips on how you can go about asking for more compensation.</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center mb-3 container">
	<div class="row">
		<% Company.all.sample(6).each do |company| %>
			<div class="col-4 col-md-3 col-lg-2 p-3">
				<a href="/companies/<%= company.id %>"><img width="60px" class=" rounded" src="//logo.clearbit.com/<%= company.url %>" alt="<%= company.name %>"></a>
			</div>
		<% end %>
	</div>
</div>

<hr/>

<div class="container">
	<div class="lead mb-3 text-center">Offers waiting for some feedback</div>

	<div class="row">
		<% @offers.each do |offer| %>
			<div class="col-lg-4 col-md-6 col-12 p-2">
				<div class="border rounded list-group-item-action">
					<a href="<%= offer_path offer.id %>" class="list-group-item-action">
						<%= render partial: "offer_list_item", locals: { offer: offer } %>
					</a>
				</div>
			</div>
		<% end %>
	</div>
</div>