<div class="text-center homepage-header p-4 bg-dark">
	<div class="">
		<div class="mb-3 lead">
			<span class="bg-white p-2 font-weight-bold">Need feedback on a job <span class="text-danger">offer</span>?</span>
		</div>
		<div>
			<a class="btn btn-lg btn-danger" href="/offers/new">Submit an offer</a>
		</div>
	</div>
</div>

<div class="bg-light text-center border-bottom p-4">
	<div class="container p-0">
		<div class="mb-3 lead font-weight-light">
			<span class="font-weight-bold text-danger">reffo</span> is an anonymous community that empower employees by providing <span class="font-weight-bold text-danger">offer</span> feedback and education.
		</div>

		<div class="row">
			<div class="col-md-4 p-2 pl-3 pr-3">
				<div class="bg-white p-3">
					<h6><span class="fa fa-money-bill text-success mr-2"></span> Compensation evaluation</h6>
					<span class="text-muted font-weight-light">We will let you know if you got low-balled or if your offer is fair.</span>
				</div>
			</div>
			<div class="col-md-4 p-2 pl-3 pr-3">
				<div class="bg-white p-3">
					<h6><span class="fa fa-chart-line text-danger mr-2"></span> Stocks education</h6>
					<span class="text-muted font-weight-light">We will tell you everything you should ask about stocks before signing.</span>
				</div>
			</div>
			<div class="col-md-4 p-2 pl-3 pr-3">
				<div class="bg-white p-3">
					<h6><span class="fa fa-handshake text-info mr-2"></span> Negotiation tips</h6>
					<span class="text-muted font-weight-light">We will give you tips on how you can ask for more compensation.</span> 
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center p-3 border-bottom">
	<div class="container p-0">
		<div class="row">
			<% Company.all.sample(6).each do |company| %>
				<div class="col-4 col-xl-2 p-3">
					<a href="/companies/<%= company.id %>"><img width="60px" class=" rounded" src="//logo.clearbit.com/<%= company.url %>" alt="<%= company.name %>"></a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="bg-light p-3 border-bottom">
	<div class="container p-0">
		<div class="lead mb-3 text-center">Offers waiting for some feedback</div>

		<div class="row">
			<% @offers.each do |offer| %>
				<div class="col-lg-4 col-md-6 col-12 p-2">
					<div class="border rounded list-group-item-action">
						<a href="<%= offer_path offer.id %>" class="list-group-item-action">
							<%= render partial: "offer_list_item", locals: { offer: offer } %>
						</a>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="text-center homepage-header p-4">
	<div>
		<div class="mb-3 lead">
			Are you ready to unleash feedback?
		</div>
		<div>
			<a class="btn btn-danger" href="/offers/new">Add your offer now</a>
		</div>
	</div>
</div>