<% if @offer.user == current_user %>
  <div class="p-2 text-center alert alert-warning mb-0">
    <a class="small text-uppercase text-dark" href="<%= edit_offer_path @offer.uuid %>">Edit my offer</a>
  </div>
<% end %>
<div class="text-center company-header p-4 bg-<%= @offer.status_class %>">
  <div class="text-white font-weight-light mb-3">
    <h5><%= @offer.position %></h5>
    <h6><%= @offer.level %> <%= @offer.yoe ? "#{@offer.yoe.to_i} YOE" : "" %></h6>
  </div>

  <div class="mb-1">
    <a href="<%= company_path @offer.company.uuid %>" class="text-white"><img width="60px" class="img-thumbnail rounded" src="//logo.clearbit.com/<%= @offer.company.domain %>"></a>
  </div>

  <h5 class="mb-3 text-white font-weight-light"><a href="<%= company_path @offer.company.uuid %>" class="text-white"><%= @offer.company.name %></a></h5>

  <hr>
  <div class="small text-white font-weight-bold text-uppercase">
    <%= @offer.status %>
  </div>

  <div class="small text-light font-weight-light">
    added <%= time_ago_in_words @offer.created_at %> ago
  </div>
</div>

<div class="text-center border-bottom p-2">
  <div>
    <span class="mr-4 text-info">
      <span class="far fa-eye"></span> <%= @offer.views %>
    </span>

    <span class="mr-4 text-success">
      <span class="far fa-thumbs-up"></span> <span id="upvote-count"><%= @offer.votes.up.count %></span>
    </span>

    <span class="mr-4 text-danger">
      <span class="far fa-thumbs-down"></span> <span id="downvote-count"><%= @offer.votes.down.count %></span>
    </span>

    <span>
      <span class="fa fa-comments"></span> <%= @offer.comments.count %>
    </span>
  </div>
</div>

<div class="border-bottom p-3 bg-light">
  <div class="center-box-max-width">
     <div class="text-center border bg-white  p-2 mb-3">
      <div class="font-weight-light">Total Compensation</div>
      <div class="lead font-weight-normal">$<%= number_to_human @offer.tc %> / year</div>
    </div>

    <div class="d-flex mb-3">
      <div class="flex-even text-center border bg-white p-2 mr-2">
        <div class="font-weight-light">Base <span class="fa fa-money-bill ml-2"></span></div>
        <div class="lead font-weight-normal">$<%= number_to_human @offer.base_salary %> / year</div>
      </div>

      <div class="flex-even text-center border bg-white p-2 ml-2">
        <div class="font-weight-light">Signon Bonus <span class="fa fa-file-signature ml-2"></span>  </div>
        <div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %></div>
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="flex-even text-center border bg-white p-2 mr-2">
        <div class="font-weight-light">Stocks <span class="fa fa-chart-line ml-2"></span>  </div>
        <div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %> / year</div>
      </div>

      <div class="flex-even text-center border bg-white p-2 ml-2">
        <div class="font-weight-light">Bonus <span class="fa fa-hand-holding-usd ml-2"></span>  </div>
        <div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %> / year</div>
      </div>
    </div>

    <% if @offer.notes.present? %>
      <div class="bg-light">
        <div class="center-box-max-width bg-white border p-3 text-align-justity">
          <%= @offer.notes %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="p-3 border-bottom">
  <div class="center-box-max-width">
    <div>
      <div class="d-flex">
        <div class="flex-even pr-2">
          <%= link_to vote_offer_path(@offer.uuid, vote: 1), class: "vote btn btn-block #{ current_user.upvoted?(@offer) ? 'btn-success' : 'btn-outline-success' }", method: :post do %>
            <span class="fa fa-thumbs-up"></span> Great!
          <% end %>
        </div>
        <div class="flex-even pl-2">
          <%= link_to vote_offer_path(@offer.uuid, vote: -1), class: "vote btn  btn-block #{ current_user.downvoted?(@offer) ? 'btn-danger' : 'btn-outline-danger' }", method: :post do %>
            <span class="fa fa-thumbs-down"></span> Poor
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3 border-bottom">
  <div class="center-box-max-width">
    <div class="text-center mb-3"><%= @offer.comments.count %> Comments</div>

    <div class="mb-4">
      <% @offer.comments.each do |comment| %>
        <div class="bg-light p-3 border-bottom mb-2">
          <div class="small d-flex justify-content-between">
            <div>
              <a href="<%= company_path comment.user.current_company.uuid %>"><%= comment.user.current_company.name %></a> - <%= comment.user.uuid.first(8) %> <sup class="font-weight-bold text-danger"><%= current_user.id == comment.user.id ? "OP" : "" %></sup>
            </div>

            <div>
              <span class="text-muted" title="<%= comment.created_at.strftime('%m/%d/%Y - %r') %>">
                <%= time_ago_in_words comment.created_at %> ago
              </span>
            </div>
          </div>
          <div>
            <%= comment.text %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= form_for :comment, url: comments_offer_path do |f| %>
        <div class="form-group">
          <%= f.text_area :text, class: "form-control", placeholder: "Add a new comment...", required: "true", rows: "5" %>
        </div>
        <%= f.submit "Comment", class: "btn btn-block btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
