<div class="text-center company-header p-4 bg-<%= @offer.status_class %>">
	<div class="text-white font-weight-light mb-3">
		<h5><%= @offer.position %></h5> 
		<h6><%= @offer.level %> <%= @offer.yoe ? "#{@offer.yoe.to_i} YOE" : "" %></h6>
	</div>

	<div class="mb-1">
		<a href="/companies/<%= @offer.company.id %>" class="text-white"><img width="60px" class="img-thumbnail rounded" src="//logo.clearbit.com/<%= @offer.company.url %>"></a>
	</div>

	<h5 class="mb-3 text-white font-weight-light"><a href="/companies/<%= @offer.company.id %>" class="text-white"><%= @offer.company.name %></a></h5>
	
	<hr>
	<div class="small text-white font-weight-bold text-uppercase">
		<%= @offer.status %>
	</div>

	<div class="small text-light font-weight-light">
		added <%= time_ago_in_words @offer.created_at %> ago
	</div>
</div>

<div class="text-center border-bottom p-2">
	<div>
		<span class="mr-4">
			<span class="far fa-eye"></span> <%= @offer.views %>
		</span>
				
		<span class="mr-4">
			<span class="far fa-thumbs-up"></span> <%= @offer.votes.up.count %>
		</span>

		<span class="mr-4">
			<span class="far fa-thumbs-down"></span> <%= @offer.votes.down.count %>
		</span>

		<span>
			<span class="fa fa-comments"></span> <%= @offer.comments.count %>
		</span>
	</div>
</div>

<div class="border-bottom p-3 bg-light">
	<div class="center-box-max-width">
		<div class="">
		 	<div class="text-center border bg-white  p-2 mb-3">
				<div class="font-weight-light">Total Compensation</div>
				<div class="lead font-weight-normal">$<%= number_to_human @offer.tc %> / year</div>
			</div>

			<div class="d-flex mb-3">
				<div class="flex-even text-center border bg-white p-2 mr-2">
					<div class="font-weight-light">Base <span class="fa fa-money-bill ml-2"></span></div>
					<div class="lead font-weight-normal">$<%= number_to_human @offer.base_salary %> / year</div>
				</div>		
				
				<div class="flex-even text-center border bg-white p-2 ml-2">
					<div class="font-weight-light">Signon Bonus <span class="fa fa-file-signature ml-2"></span>	</div>
					<div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %></div>
				</div>		
			</div>

			<div class="d-flex flex-row">
				<div class="flex-even text-center border bg-white p-2 mr-2">
					<div class="font-weight-light">Stocks <span class="fa fa-chart-line ml-2"></span>	</div>
					<div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %> / year</div>
				</div>				

				<div class="flex-even text-center border bg-white p-2 ml-2">
					<div class="font-weight-light">Bonus <span class="fa fa-hand-holding-usd ml-2"></span>	</div>
					<div class="lead font-weight-normal">$<%= number_to_human @offer.signon_bonus.to_i %> / year</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if @offer.notes.present? %>
	<div class="border-bottom bg-light p-3">
		<div class="center-box-max-width bg-white border p-3 text-align-justity">
			<%= @offer.notes %>
		</div>
	</div>
<% end %>
		
<div class="p-3 border-bottom">
	<div class="center-box-max-width">
		<div>
			<div class="d-flex">
				<div class="flex-even pr-2">
					<button type="button" class="btn btn-success btn-block"><span class="fa fa-thumbs-up"></span> Great </button>
				</div>
				<div class="flex-even pl-2">
					<button type="button" class="btn btn-danger btn-block"><span class="fa fa-thumbs-down"></span> Poor </button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="p-3 border-bottom">
	<div class="center-box-max-width">
		<div class="text-center mb-3"><%= @offer.comments.count %> Comments</div>		

		<div class="mb-4">	
			<% @offer.comments.each do |comment| %>
				<div class="bg-light p-3 border-bottom mb-2">
					<div class="small d-flex justify-content-between">
						<div>
							<a href="/companies/<%= comment.user.current_company.id %>"><%= comment.user.current_company.name %></a> - <%= comment.user.username %> 
						</div>

						<div>
							<span class="text-muted" title="<%= comment.created_at.strftime('%m/%d/%Y - %r') %>">
								<%= time_ago_in_words comment.created_at %> ago
							</span>
						</div>
					</div>
					<div>
						<%= comment.text %>	
					</div>
				</div>
			<% end %>
		</div>

		<div>
			<%= form_for :comment, url: offer_comments_path do |f| %>
				<div class="form-group">
		      <%= f.text_area :text, class: "form-control", placeholder: "Add a new comment...", required: "true" %>
		    </div>
		    <%= f.submit "Comment", class: "btn btn-block btn-danger" %>
			<% end %>
		</div>
	</div>
</div>
