<div class="container center-box-max-width bg-white p-4 text-center rounded">
  <%= form_tag unsubscribe_path, method: :patch do %>
    <%= label_tag :email, "Please confirm your email to unsubscribe" %>
    <div class="input-group mb-3">
      <%= text_field_tag :email, params[:email], class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Unsubscribe", class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>

  <div class="container bg-white rounded text-center">
    <a href="<%= root_url %>" class="btn btn-danger">Go back home</a>
  </div>

</div>
