<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/analytics" if Rails.env.production? %>

    <title>Reffo - Offer Feedback Community</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_pack_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c7578d85011cb0011347628&product=inline-share-buttons' async='async'></script>

    <meta property="og:type" content="article" />
    <meta property="fb:app_id" content="" />

    <% if @offer&.created_at %>
      <meta property="og:title" content="<%= @offer.og_title %>" />
      <meta property="og:description" content="<%= @offer.og_description %>" />
      <meta property="og:image" content="<%= @offer.company.logo_url %>" />
      <meta property="og:url" content="<%= offer_url @offer.uuid %>" />
    <% else %>
      <meta property="og:url" content="https://reffo.us" />
      <meta property="og:title" content="Reffo - Offer Feedback Community" />
      <meta property="og:description" content="Receive and give feedback on recent job offers" />
      <meta property="og:image" content="<%= asset_url('og-image.png') %>" />
    <% end %>
  </head>

  <body>
    <header class="border-bottom">
      <div class="container">
        <nav class="pl-0 pr-0 navbar navbar-light <%= logged_in? ? 'navbar-expand-sm' : 'navbar-expand' %>  my-2 my-lg-0 bg-white">
          <a class="navbar-brand" href="/"><span class="text-danger font-weight-bold">reffo↵</span></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="/offers">All offers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/account">My account</a>
                </li>
                <li class="nav-item">
                  <%= link_to "Log out", logout_path, method: :delete, class: "nav-link text-danger" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="btn btn-sm btn-danger" href="/login">Sign-in</a>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="p-3 pb-5 mb-5 text-center">
      <div class="mb-3 font-weight-bold">
        <div class="h5 mb-2">
          &copy; reffo↵
        </div>
      </div>
      <div class="small mb-2">
        Any suggestions? <a href="mailto:hello@reffo.us?subject=Feedback" target="_blank">Email us!</a>
      </div>
      <div class="mb-2 small text-muted">
        Made with <span class="text-danger fa fa-heart"></span> in San Francisco
      </div>
      <div class="text-ghost">
        Company logos provided by <a href="https://clearbit.com" target="_blank" class="text-ghost">Clearbit</a>
      </div>
    </footer>
  </body>
</html>
